In [1]:
import pandas as pd

In [3]:
retail_df = pd.read_csv('C:/Projects/python-workspace/Machine Learning/Machine learning project/team4 eda prj/Team4_EDA_ML_Prj/dataset/유통업체.csv', encoding='cp949')
retail_df.head()

   자치구            동  대형마트 수  백화점 수
0  종로구  종로1.2.3.4가동       0      0
1  종로구      종로5·6가동       0      0
2  종로구         창신1동       0      0
3  종로구         창신3동       0      0
4  종로구         숭인2동       0      0

In [6]:
group_by_gu = retail_df.groupby('자치구').sum()
group_by_gu

      대형마트 수  백화점 수
자치구
강남구        1      6
강동구        3      1
강북구        1      1
강서구        3      1
관악구        1      1
광진구        2      1
구로구        3      2
금천구        3      0
노원구        2      2
도봉구        2      0
동대문구       2      1
동작구        0      1
마포구        3      0
서대문구       0      1
서초구        4      2
성동구        2      0
성북구        3      1
송파구        4      2
양천구        1      1
영등포구       5      3
용산구        2      1
은평구        2      0
종로구        0      0
중구         2      3
중랑구        6      0

In [17]:
group_by_dong = retail_df.groupby('동').sum()
group_by_dong = group_by_dong.reset_index()
group_by_dong['전체 마트 수'] = group_by_dong['대형마트 수'] + group_by_dong['백화점 수']
group_by_dong = group_by_dong[group_by_dong['전체 마트 수'] != 0]
group_by_dong = group_by_dong.reset_index().drop('index', axis=1)
group_by_dong

       동  대형마트 수  백화점 수  전체 마트 수
0   가양2동       1      0        1
1   가양3동       1      0        1
2    공덕동       1      0        1
3   구로3동       1      0        1
4   구로5동       1      1        2
..   ...     ...    ...      ...
60   청담동       0      1        1
61  한강로동       2      1        3
62  행당1동       1      0        1
63   황학동       1      0        1
64   회현동       1      1        2

[65 rows x 4 columns]

In [19]:
group_by_dong.to_csv('C:/Projects/python-workspace/Machine Learning/Machine learning project/team4 eda prj/Team4_EDA_ML_Prj/dataset/refined_retail.csv', index=False, encoding='utf-8-sig')